<div class="panel panel-default">
  <div class="panel-heading">{{player.name}}, please choose your action</div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-12">
          <div class="control">
            <a href="javascript:void(0);">
              <div class="btn-group" role="group">
                <button type="button" class="stand btn btn-default" ng-click="player.stand()">Stand</button>
                <button type="button" class="stand btn btn-default" ng-click="player.hit()">Hit</button>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>
